<h1>Default buttons</h1>
<div class="button-container">
<a type="button" class="btn primary text-light text-button-centered center" href="{{link}}">{{text-filled}}</a>
<a type="button" class="btn transparent border-gray-20 text-primary text-button-centered center" href="{{link}}">{{text-outlined}}</a>
<a type="button" class="btn transparent text-primary text-button-centered center" href="{{link}}">{{text-transparent}}</a>
</div>
