
<div class="button-container">
<a type="button" class="btn btn-filled btn-filled-states margin" href="{{link}}">{{text-filled}}</a>
<a type="button" class="btn btn-outlined btn-outlined-states margin" href="{{link}}">{{text-outlined}}</a>
<a type="button" class="btn btn-transparent btn-transparent-states margin" href="{{link}}">{{text-transparent}}</a>
</div>
<div class="button-container">
<a type="button" class="btn btn-filled btn-filled-states margin" href="{{link}}"><div class="icon-arrow-right white icon-left"></div>{{text-filled}}<span class="icon-arrow-right white icon-right"></span></a>
<a type="button" class="btn btn-outlined btn-outlined-states margin" href="{{link}}"><span class="icon-arrow-right primary icon-left"></span>{{text-outlined}}<span class="icon-arrow-right primary icon-right"></span></a>
<a type="button" class="btn btn-transparent btn-transparent-states margin" href="{{link}}"><span class="icon-arrow-right primary icon-left"></span>{{text-transparent}}<span class="icon-arrow-right primary icon-right"></span></a>
</div>
<div class="button-container">
<a type="button" class="btn btn-filled btn-filled-states margin" href="{{link}}"><span class="icon-arrow-right white icon-left"></span>{{text-filled}}</a>
<a type="button" class="btn btn-outlined btn-outlined-states margin" href="{{link}}"><span class="icon-arrow-right primary icon-left"></span>{{text-outlined}}</a>
<a type="button" class="btn btn-transparent btn-transparent-states margin" href="{{link}}"><span class="icon-arrow-right primary icon-left"></span>{{text-transparent}}</a>
</div>
<div class="button-container">
<a type="button" class="btn btn-filled btn-filled-states margin" href="{{link}}">{{text-filled}}<span class="icon-arrow-right white icon-right"></span></a>
<a type="button" class="btn btn-outlined btn-outlined-states margin" href="{{link}}">{{text-outlined}}<span class="icon-arrow-right primary icon-right"></span></a>
<a type="button" class="btn btn-transparent btn-transparent-states margin" href="{{link}}">{{text-transparent}}<span class="icon-arrow-right primary icon-right"></span></a>
</div>
