
<div class="button-container">
<a type="button" class="btn btn-primary btn-primary-states margin" href="{{link}}">{{text-primary}}</a>
<a type="button" class="btn btn-default btn-default-states margin" href="{{link}}">{{text-default}}</a>
<a type="button" class="btn btn-transparent btn-transparent-states margin" href="{{link}}">{{text-transparent}}</a>
</div>
<div class="button-container">
<a type="button" class="btn btn-primary btn-primary-states margin" href="{{link}}"><div class="icon-arrow-right white icon-left"></div>{{text-primary}}<span class="icon-arrow-right white icon-right"></span></a>
<a type="button" class="btn btn-default btn-default-states margin" href="{{link}}"><span class="icon-arrow-right primary icon-left"></span>{{text-default}}<span class="icon-arrow-right primary icon-right"></span></a>
<a type="button" class="btn btn-transparent btn-transparent-states margin" href="{{link}}"><span class="icon-arrow-right primary icon-left"></span>{{text-transparent}}<span class="icon-arrow-right primary icon-right"></span></a>
</div>
<div class="button-container">
<a type="button" class="btn btn-primary btn-primary-states margin" href="{{link}}"><span class="icon-arrow-right white icon-left"></span>{{text-primary}}</a>
<a type="button" class="btn btn-default btn-default-states margin" href="{{link}}"><span class="icon-arrow-right primary icon-left"></span>{{text-default}}</a>
<a type="button" class="btn btn-transparent btn-transparent-states margin" href="{{link}}"><span class="icon-arrow-right primary icon-left"></span>{{text-transparent}}</a>
</div>
<div class="button-container">
<a type="button" class="btn btn-primary btn-primary-states margin" href="{{link}}">{{text-primary}}<span class="icon-arrow-right white icon-right"></span></a>
<a type="button" class="btn btn-default btn-default-states margin" href="{{link}}">{{text-default}}<span class="icon-arrow-right primary icon-right"></span></a>
<a type="button" class="btn btn-transparent btn-transparent-states margin" href="{{link}}">{{text-transparent}}<span class="icon-arrow-right primary icon-right"></span></a>
</div>
