<div class="button-container">
<a type="button" class="btn-icon-large btn-primary btn-primary-states margin" href="{{link}}"><span class="icon-arrow-right white"></span></a>
<a type="button" class="btn-icon-large btn-default btn-default-states margin" href="{{link}}"><span class="icon-arrow-right primary"></span></a>
<a type="button" class="btn-icon-large btn-transparent btn-transparent-states margin" href="{{link}}"><span class="icon-arrow-right primary"></span></a>
</div>

<div class="button-container">
<a type="button" class="btn-icon-small btn-primary btn-primary-states margin" href="{{link}}"><span class="icon-arrow-right white"></span></a>
<a type="button" class="btn-icon-small btn-default btn-default-states margin" href="{{link}}"><span class="icon-arrow-right primary"></span></a>
<a type="button" class="btn-icon-small btn-transparent btn-transparent-states margin" href="{{link}}"><span class="icon-arrow-right primary"></span></a>
</div>
