<h1>Default buttons</h1>
<div class="button-container">
<a type="button" class="btn filled-btn-states primary text-light text-button-centered margin" href="{{link}}">{{text-filled}}</a>
<a type="button" class="btn outlined-btn-states transparent border-gray-20 text-primary text-button-centered margin" href="{{link}}">{{text-outlined}}</a>
<a type="button" class="btn transparent-btn-states transparent text-primary text-button-centered margin" href="{{link}}">{{text-transparent}}</a>
</div>
