<h1>Buttons with icons</h1>
<h3>Icon right and left</h3>
<div class="button-container">
<a type="button" class="btn filled-btn-states filled-states primary text-light text-button-centered margin" href="{{link}}"><div class="icon-arrow-right white"></div>{{text-filled}}<span class="icon-arrow-right white"></span></a>
<a type="button" class="btn outlined-btn-states transparent border-gray-20 text-primary text-button-centered margin" href="{{link}}"><span class="icon-arrow-right primary"></span>{{text-outlined}}<span class="icon-arrow-right primary"></span></a>
<a type="button" class="btn transparent-btn-states transparent text-primary text-button-centered margin" href="{{link}}"><span class="icon-arrow-right primary"></span>{{text-transparent}}<span class="icon-arrow-right primary"></span></a>
</div>

<h3>Icon left</h3>
<div class="button-container">
<a type="button" class="btn filled-btn-states primary text-light text-button-centered margin" href="{{link}}"><span class="icon-arrow-right white"></span>{{text-filled}}</a>
<a type="button" class="btn outlined-btn-states transparent border-gray-20 text-primary text-button-centered margin" href="{{link}}"><span class="icon-arrow-right primary"></span>{{text-outlined}}</a>
<a type="button" class="btn transparent-btn-states transparent text-primary text-button-centered margin" href="{{link}}"><span class="icon-arrow-right primary"></span>{{text-transparent}}</a>
</div>
<h3>Icon right</h3>
<div class="button-container">
<a type="button" class="btn filled-btn-states primary text-light text-button-centered margin" href="{{link}}">{{text-filled}}<span class="icon-arrow-right white"></span></a>
<a type="button" class="btn outlined-btn-states transparent border-gray-20 text-primary text-button-centered margin" href="{{link}}">{{text-outlined}}<span class="icon-arrow-right primary"></span></a>
<a type="button" class="btn transparent-btn-states transparent text-primary text-button-centered margin" href="{{link}}">{{text-transparent}}<span class="icon-arrow-right primary"></span></a>
</div>
